:root {
  --primary-color-1: #d0508b;
  --primary-color-2: #2eccce;

  --primary-color-3: #957afe;
  --primary-color-4: #f87646;
  --primary-color-3-text: #ab9be2;
  --primary-color-4-text: #e1b5ab;

  --primary-color-dark: #18151c;
  --primary-color-light: #fafafb;

  --primary-text-dark: #29262d;
  --primary-text-light: #fafafb;

  --primary-color-bg: #1d1a21;
  --some-color: #18151cee;

  --primary-lemon: #8AC285;
}


.grid_section {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.grid_article {
  display: grid;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

.grid_aside {
  display: grid;
}

.grid_main {
  display: grid;
  grid-template-columns: 300px 1fr 200px;
}
