.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type='text'] {
  color: white;
}

.code-chart {
  text-align: left;
  font-size: 15px;
  color: #282c34
}
